body{
    background-color: bisque;
}

.text-japan {
    color:rgb(0, 0, 0);
}
.text-italia {
    color:rgb(0, 0, 0);
}

.text-cream {
  color:rgb(0, 0, 0);
   }
   
 @font-face {
    font-family: "EBGaramond";
    src: url("font/EB_Garamond");  
} 

 /* text des cartes */
 
 .carte {
    width: 280px;
 }
 /* texte des cartes descriptif */
 .carte-description{
    font-family: ebgaramond;
    font-size: 18px;
    height: 250px;
 }
 .formulaire {
    background-color: rgba(0, 0, 0, 0.026);
    border-radius: 10px;
 }