/* style du Body */

body {
  background-color: bisque;
}
/* style du japan */
.text-japan {
  color: rgb(0, 0, 0);
}
.text-italia {
  color: rgb(0, 0, 0);
}

.text-cream {
  color: rgb(0, 0, 0);
}  
/* style de la font face*/
@font-face {
  font-family: "EBGaramond";
  src: url("font/EB_Garamond");

}
/* image hero section */
.imagehero {
  height: 40%;
  width: 40%;
}
/* carousel item  */


/* dimension des cartes */

/* .carte {
 

 height: auto;
} */
/* texte des cartes descriptif */
.carte-description {
  font-family: ebgaramond;
  font-size: 18px;
  
}
/* Style du conteneur du formulaire */
.formulaire {
  background-color: rgba(0, 0, 0, 0.026);
  border-radius: 10px;
}
/* dimension des item du caroussel */
.carousitem {
  height: 800px;
  position: relative;
  height: 50vh;
}
/* style du text du caroussel */
.caroustext {
  background-color: rgba(197, 198, 177, 0.509);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;        /* centre verticalement ET horizontalement */
  height: fit-content; /* ou une hauteur fixe */
  width: fit-content;  /* ou une largeur fixe */
}
/*  */
@media screen and (max-width: 576px) {
 
.carte {
    width: 50%;
    margin: 10px auto;
  }

}
/* style de la socialnetwork zone */
#socialnetwork {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: gray;
  list-style: none;
  gap: 20px;
  font-size: 20px;
  font-family: fantasy;
  img {
    width: 30px;
    height: 30px;
  }
}
