body{
    background-color: bisque;
}

.text-japan {
    color:rgb(0, 0, 0);
}
.text-italia {
    color:rgb(0, 0, 0);
}

.text-cream {
  color:rgb(0, 0, 0);
   }
   
/* @font-face {
    font-family: "EBGaramond";
    src: url("font/EB_Garamond");
    
} */